openapi: 3.0.3
info:
  contact:
    email: info@llmpulse.ai
    name: LLM Pulse Support
    url: https://llmpulse.ai
  description: REST API client for LLM Pulse AI visibility analytics.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  title: LLM Pulse API
  version: 1.46.0
servers:
- description: Production API
  url: https://api.llmpulse.ai/api/v1
security:
- BearerAuth: []
tags:
- description: "Health check that validates an API key and, optionally, access to\
    \ a project."
  name: Health
- description: "Plan, subscription window, quota consumption and API rate limits for\
    \ the authenticated account. Read it before spending quota so an integration can\
    \ see its remaining budget instead of discovering the ceiling by hitting it."
  name: Account
- description: "A project is one tracked brand. List and read projects, see which\
    \ AI models and locales have data, create a project in one call, or drive the\
    \ multi-step draft wizard."
  name: Projects
- description: "Aggregated visibility, share of voice, citation and position data\
    \ for the project and its competitors: time series, period summary, per-prompt\
    \ summary, Share of Voice and top cited sources."
  name: Metrics
- description: The brands tracked alongside your own. Competitor ids are the actor_id
    values the metrics endpoints report against.
  name: Competitors
- description: "The questions executed against the AI models every week, and the execution\
    \ records each run produces."
  name: Prompts
- description: "Collections (labelled Tags in the app) group prompts by topic, funnel\
    \ stage or campaign so metrics can be filtered by them."
  name: Collections & Tags
- description: "The AI responses behind every metric, with their full text, mentions,\
    \ citations and sentiment analysis."
  name: Answers
- description: "The raw records behind the visibility metrics: one row per brand mention\
    \ or per cited URL, for the project brand, for competitors, or for both in a single\
    \ stream."
  name: Mentions & Citations
- description: "Sentiment records with their comments, topics and scores, plus the\
    \ category catalog used to label them."
  name: Sentiments
- description: "Every URL extracted from AI responses, plus grouped URL, domain and\
    \ host views, page-cache metadata, mention evidence inside cited pages, occurrences\
    \ and sanitized cached content."
  name: Sources & Citation Intelligence
- description: "Aggregate AI Model Insights report endpoints (summary, position distribution,\
    \ AI Overview results). All filter by executed_at and share a standard actor shape."
  name: AI Model Insights
- description: "What AI sends to your site: referral traffic from AI assistants measured\
    \ by the connected web analytics provider, and AI crawler traffic hitting your\
    \ origin server. Scale plan and above."
  name: AI & Agent Traffic
- description: "Commercial surfaces inside AI answers: the product cards models return\
    \ and the paid placements that run alongside them, with the merchants and advertisers\
    \ behind each. Scale plan and above."
  name: Shopping & Ads
- description: "Which of your own channels and which community conversations AI answers\
    \ cite: YouTube, Instagram, Facebook, TikTok, LinkedIn, app-store listings and\
    \ Reddit. Growth plan and above."
  name: Owned Media & Communities
- description: "Multi-model analyst reports: the monthly reputation scoring of your\
    \ brand against its competitors, and the custom AI studies you define over any\
    \ subjects and dimensions. Requires reputation monitoring."
  name: Reputation & Studies
- description: "Google Search Console performance data (impressions, clicks, CTR,\
    \ average position) for projects with a connected GSC property: headline totals,\
    \ time series, top queries and top pages. Growth plan and above."
  name: Search Console
- description: "Recommendation runs that power the in-app Recommendations page, plus\
    \ the endpoint that launches a new one."
  name: Recommendations
- description: "AI-powered GEO Writer tasks (formerly Content Intelligence). Tasks\
    \ are processed asynchronously, so create one and poll it until it completes."
  name: GEO Writer
- description: "Run the technical GEO analysis bundle, then list, poll and retrieve\
    \ each completed report."
  name: Technical GEO Reports
- description: "Mark a date on the project timeline (a campaign launch, a site migration)\
    \ so charts show what happened when."
  name: Annotations
- description: "Outbound event notifications: subscribe an HTTPS URL to project events\
    \ and receive HMAC-signed deliveries with no polling. Scale plan and above."
  name: Webhooks
- description: "Model Context Protocol endpoint for AI clients (Claude, ChatGPT, Cursor\
    \ and other MCP-compatible assistants)."
  name: MCP
- description: "OAuth 2.1 authorization for MCP clients: discovery metadata, dynamic\
    \ client registration, authorization, token exchange and JWKS."
  name: OAuth 2.1
paths:
  /ping:
    get:
      description: "Validates the API key and optionally pings a project. Returns\
        \ the authenticated user_id, project (if project_id is supplied), and a request_id."
      operationId: ping
      parameters:
      - description: Optional project to verify access for
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ping_200_response"
          description: API is healthy
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: Health check
      tags:
      - Health
      x-accepts:
      - application/json
  /account:
    get:
      description: "Returns the account plan, tracking cadence, subscription window,\
        \ how much of each quota is used (prompts, projects, competitors per project,\
        \ monthly GEO Writer tasks, team members) and the published API rate limits.\
        \ Limits resolve through the account owner, so a team member sees the capacity\
        \ that applies to them. An unlimited quota returns limit and remaining as\
        \ null with unlimited set to true, since Infinity is not representable in\
        \ JSON. The subscription block is only present for callers who can access\
        \ Billing and Plans in the app (the account owner, or a team member with billing\
        \ access); everyone else gets the same response without that key. requests_per_minute\
        \ is the ceiling of the key used for the call, not a fixed number."
      operationId: getAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccount_200_response"
          description: Account usage snapshot
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: "Account plan, quota usage and rate limits"
      tags:
      - Account
      x-accepts:
      - application/json
  /metrics/timeseries:
    get:
      description: "Returns time-series data for one or more metrics, broken down\
        \ by actor (project + competitors). Supports day/week/month granularity, with\
        \ sticky carry-forward semantics for week/month aggregates."
      operationId: getTimeseries
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Comma-separated list of metrics: mentions, citations, responses,\
          \ mention_rate, visibility (alias for mention_rate), weighted_visibility,\
          \ ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position,\
          \ avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive,\
          \ sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations\
          \ and citation_rate include visible citations and background source references;\
          \ avg_position uses visible citations only."
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          - naver_ai
          - baidu_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: include_project
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeseriesResponse"
          description: Time-series data
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Time-series metrics
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/summary:
    get:
      description: "Same as /metrics/timeseries but adds a `summary` block with total/min/max/last\
        \ per metric per actor, plus a `position_distribution` block (Position 1,\
        \ Position 2, Position 3+). Citations and citation rate include visible citations\
        \ and background source references. Background references use position 0 and\
        \ are excluded from avg_position and position distributions. `total` is a\
        \ SUM for count metrics (mentions, citations, responses) and an AVERAGE across\
        \ periods for rate/percentage and average metrics (visibility/mention_rate,\
        \ citation_rate, ai_visibility_score, sentiment shares, avg_position, avg_mention_position,\
        \ net_sentiment); rates are never summed. Each summary row carries an `aggregation`\
        \ field (`sum` or `average`)."
      operationId: getSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Comma-separated list of metrics: mentions, citations, responses,\
          \ mention_rate, visibility (alias for mention_rate), weighted_visibility,\
          \ ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position,\
          \ avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive,\
          \ sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations\
          \ and citation_rate include visible citations and background source references;\
          \ avg_position uses visible citations only."
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          - naver_ai
          - baidu_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SummaryResponse"
          description: Summary metrics
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Aggregated metrics summary
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/prompt_summary:
    get:
      description: "Paginated per-prompt aggregated metrics. Returns responses, mentions,\
        \ citations, mention_rate, citation_rate, avg_mention_position and avg_position\
        \ per prompt. Citations and citation rate include visible citations and background\
        \ source references; avg_position uses visible citations only. Pass `breakdown=model`\
        \ to split each prompt by model."
      operationId: getPromptSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Add per-(prompt, model) rows to the output"
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          enum:
          - model
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          - naver_ai
          - baidu_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: responses
          enum:
          - responses
          - mentions
          - citations
          - mention_rate
          - visibility
          - citation_rate
          - avg_mention_position
          - avg_position
          type: string
        style: form
      - explode: true
        in: query
        name: sort_dir
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptSummaryResponse"
          description: Per-prompt metrics
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: Per-prompt metrics summary
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/sov:
    get:
      description: "Share of Voice breakdown comparing your project to competitors.\
        \ Returns over_time, current snapshot, and a Top-4 + Others breakdown."
      operationId: getShareOfVoice
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          - naver_ai
          - baidu_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      - description: "Which Share of Voice projection to flatten. Only valid together\
          \ with 'output'. 'over_time' (default) is one row per date and actor, 'current'\
          \ the ranked snapshot, 'breakdown' the Top 4 plus Others."
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: over_time
          enum:
          - over_time
          - current
          - breakdown
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SovResponse"
          description: Share of voice data
      summary: Share of Voice
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/top_sources:
    get:
      description: "Registrable domains most frequently cited in AI responses for\
        \ the project, including visible citations and background source references.\
        \ This endpoint remains a domain rollup when exact-subdomain matching is enabled.\
        \ Results can be sorted by total responses, average mention rate, or average\
        \ visibility."
      operationId: getTopSources
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          - naver_ai
          - baidu_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: total_responses
          enum:
          - total_responses
          - avg_mention_rate
          - avg_visibility
          type: string
        style: form
      - description: Filter domains by case-insensitive partial match
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopSourcesResponse"
          description: Top sources
      summary: Top cited sources
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/agent_traffic:
    get:
      description: "Aggregated AI bot traffic hitting the project's origin server\
        \ (GPTBot, PerplexityBot, ClaudeBot, OAI-SearchBot, Google-Extended, etc.).\
        \ Sourced from Cloudflare or CSV uploads. Requires the Scale plan; lower tiers\
        \ receive ERR_PLAN_REQUIRED."
      operationId: getAgentTraffic
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by bot slug (e.g. gptbot, claudebot, perplexitybot)"
        explode: true
        in: query
        name: bot
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by company (e.g. openai, anthropic, google)"
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: group_by
        required: false
        schema:
          default: bot
          enum:
          - bot
          - company
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentTrafficResponse"
          description: Agent traffic data
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: Scale plan or above required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
      summary: "AI bot crawler traffic (Scale plan or above, Beta)"
      tags:
      - AI & Agent Traffic
      x-accepts:
      - application/json
  /metrics/ai_traffic:
    get:
      description: "AI referral traffic for a project: human visits arriving from\
        \ AI assistants (ChatGPT, Perplexity, Gemini, Claude, etc.), measured from\
        \ the connected web analytics provider (Google Analytics 4, Adobe Analytics,\
        \ PostHog, Plausible or Piano). Returns per-source users, sessions and conversions\
        \ with totals and a conversion rate. Requires a connected provider and the\
        \ Scale plan; otherwise returns ERR_AI_TRAFFIC_NOT_CONNECTED or ERR_PLAN_REQUIRED."
      operationId: getAiTraffic
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by a single AI source slug (e.g. chatgpt, perplexity,\
          \ gemini, claude)"
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          description: AI referral traffic data
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: Scale plan or above required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: AI referral traffic (Scale plan or above)
      tags:
      - AI & Agent Traffic
      x-accepts:
      - application/json
  /reputation/reports:
    get:
      description: "The monthly multi-model analyst reports scoring the tracked brand\
        \ and its competitors, newest first. Pending and failed reports are included\
        \ on purpose: whether this month ran at all is often the question. Each row\
        \ carries the report id, its status, and which analyst models produced data.\
        \ Requires reputation monitoring to be enabled on the account."
      operationId: listReputationReports
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated report summaries
      summary: List reputation reports
      tags:
      - Reputation & Studies
      x-accepts:
      - application/json
  /reputation/reports/{id}:
    get:
      description: "One reputation report's scores as flat rows: one row per analyst\
        \ model, brand, dimension and attribute, with its 0-100 score and the reasoning\
        \ the model gave. Scores come from several analyst models independently, so\
        \ compare models rather than averaging them blindly."
      operationId: getReputationReport
      parameters:
      - description: The report id from GET /reputation/reports
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Restrict to one analyst model
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - deepseek
          - grok
          - claude
          type: string
        style: form
      - description: "Restrict to one brand name, or a comma-separated list"
        explode: true
        in: query
        name: brand
        required: false
        schema:
          type: string
        style: form
      - description: Restrict to one reputation dimension key
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated score rows plus the report summary
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Get reputation report scores
      tags:
      - Reputation & Studies
      x-accepts:
      - application/json
  /studies:
    get:
      description: "The custom AI studies defined on the account: analyst reports\
        \ over any set of subjects (brands, sectors, topics) and any set of dimensions.\
        \ Studies belong to the ACCOUNT, not to a project, so project_id is an optional\
        \ filter here and account-level studies are returned whichever project you\
        \ filter by. A team member whose project access is restricted sees only the\
        \ studies of the projects they can reach. Requires reputation monitoring to\
        \ be enabled on the account."
      operationId: listStudies
      parameters:
      - description: Restrict to studies attached to this project (plus account-level
          ones)
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - archived
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated study summaries
      summary: List custom AI studies
      tags:
      - Reputation & Studies
      x-accepts:
      - application/json
  /studies/{id}:
    get:
      description: "One study with its brief, the subjects it compares, the dimensions\
        \ it scores them on, and its report history. Use the ids in `reports` with\
        \ GET /studies/{id}/reports/{report_id}."
      operationId: getStudy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: The study
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Get a custom AI study
      tags:
      - Reputation & Studies
      x-accepts:
      - application/json
  /studies/{id}/reports/{report_id}:
    get:
      description: "One custom-study report's scores as flat rows: one row per analyst\
        \ model, subject, dimension and attribute, with its 0-100 score and the reasoning\
        \ the model gave."
      operationId: getStudyReport
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "The report id from GET /studies/{id}"
        explode: false
        in: path
        name: report_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Restrict to one analyst model
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - deepseek
          - grok
          - claude
          type: string
        style: form
      - description: "Restrict to one subject name, or a comma-separated list"
        explode: true
        in: query
        name: subject
        required: false
        schema:
          type: string
        style: form
      - description: Restrict to one dimension key
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated score rows plus the report summary
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Get custom study report scores
      tags:
      - Reputation & Studies
      x-accepts:
      - application/json
  /search_console/summary:
    get:
      description: "Google Search Console headline totals (impressions, clicks, ctr\
        \ as a 0..1 fraction, average position) for the project over a date range.\
        \ Pass dimension=country, device, page, query or searchAppearance to also\
        \ receive the breakdown aggregated over the range, capped by limit. Requires\
        \ the project to have a connected Search Console property and the Growth plan\
        \ or above; otherwise returns ERR_SEARCH_CONSOLE_NOT_CONNECTED or ERR_PLAN_REQUIRED.\
        \ X-Search-Console-Backend identifies stored or live reads. Stored reads use\
        \ synced data without contacting Google. Live reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED\
        \ (403) for revoked Google access; reconnect the property in Preferences >\
        \ Project Settings > Data Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM\
        \ (503) when Google Search Console is unavailable or over quota; wait for\
        \ the number of seconds in Retry-After before retrying."
      operationId: getSearchConsoleSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Optional breakdown aggregated over the range. country and device\
          \ are lowercased; page and query keep the casing Google returns, because\
          \ a page URL is case sensitive."
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          enum:
          - country
          - device
          - page
          - query
          - searchAppearance
          type: string
        style: form
      - description: "Maximum breakdown rows, sorted by impressions descending. Default\
          \ and maximum 1000. Use /search_console/queries or /search_console/pages\
          \ to page through a full list."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Which search surface to measure. Defaults to web. discover and\
          \ googleNews carry no query dimension, so Google rejects /search_console/queries\
          \ for them."
        explode: true
        in: query
        name: search_type
        required: false
        schema:
          default: web
          enum:
          - web
          - image
          - video
          - news
          - discover
          - googleNews
          type: string
        style: form
      - description: "Narrow the query; every entry must match (AND). Send the whole\
          \ list as one JSON value: filters=[{\"dimension\":\"page\",\"operator\"\
          :\"contains\",\"expression\":\"/blog/\"}] (URL-encoded). An array of objects\
          \ has no query-parameter form a generated client can produce, so the string\
          \ is what the official SDKs send; see the SearchConsoleFilters schema for\
          \ the shape it encodes. includingRegex and excludingRegex take RE2 syntax.\
          \ At most 10 entries, expression at most 500 characters. The bracket form\
          \ filters[][dimension]=page&filters[][operator]=contains&filters[][expression]=/blog/\
          \ is also accepted."
        example: "[{\"dimension\":\"page\",\"operator\":\"contains\",\"expression\"\
          :\"/blog/\"}]"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - description: "final (default) counts only rows Google has finalized. all also\
          \ counts the most recent days, which are still being filled in and will\
          \ change."
        explode: true
        in: query
        name: data_state
        required: false
        schema:
          default: final
          enum:
          - final
          - all
          type: string
        style: form
      responses:
        "200":
          description: Search Console summary
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_ACCESS_REVOKED
                  message: Google Search Console access was revoked. Reconnect the
                    property in Preferences > Project Settings > Data Connections.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Plan below Growth (ERR_PLAN_REQUIRED), or Google revoked the\
            \ project's Search Console access (ERR_SEARCH_CONSOLE_ACCESS_REVOKED):\
            \ reconnect the property"
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "503":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_UPSTREAM
                  message: Google Search Console is temporarily unavailable. Retry
                    in a few minutes.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Upstream provider unavailable, retry after the number of seconds\
            \ in the Retry-After header"
          headers:
            Retry-After:
              description: "Seconds to wait before retrying: Google's own value when\
                \ it sent one, otherwise 900 after a quota error and 60 after an outage"
              explode: false
              schema:
                type: integer
              style: simple
      summary: Search Console summary (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /search_console/timeseries:
    get:
      description: "Google Search Console property-wide series (impressions, clicks,\
        \ ctr, position) bucketed by day, week or month. Requires a connected Search\
        \ Console property (Growth+). X-Search-Console-Backend identifies stored or\
        \ live reads. Stored reads use synced data without contacting Google. Live\
        \ reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED (403) for revoked Google\
        \ access; reconnect the property in Preferences > Project Settings > Data\
        \ Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM (503) when Google Search\
        \ Console is unavailable or over quota; wait for the number of seconds in\
        \ Retry-After before retrying."
      operationId: getSearchConsoleTimeseries
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      - description: "Which search surface to measure. Defaults to web. discover and\
          \ googleNews carry no query dimension, so Google rejects /search_console/queries\
          \ for them."
        explode: true
        in: query
        name: search_type
        required: false
        schema:
          default: web
          enum:
          - web
          - image
          - video
          - news
          - discover
          - googleNews
          type: string
        style: form
      - description: "Narrow the query; every entry must match (AND). Send the whole\
          \ list as one JSON value: filters=[{\"dimension\":\"page\",\"operator\"\
          :\"contains\",\"expression\":\"/blog/\"}] (URL-encoded). An array of objects\
          \ has no query-parameter form a generated client can produce, so the string\
          \ is what the official SDKs send; see the SearchConsoleFilters schema for\
          \ the shape it encodes. includingRegex and excludingRegex take RE2 syntax.\
          \ At most 10 entries, expression at most 500 characters. The bracket form\
          \ filters[][dimension]=page&filters[][operator]=contains&filters[][expression]=/blog/\
          \ is also accepted."
        example: "[{\"dimension\":\"page\",\"operator\":\"contains\",\"expression\"\
          :\"/blog/\"}]"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - description: "final (default) counts only rows Google has finalized. all also\
          \ counts the most recent days, which are still being filled in and will\
          \ change."
        explode: true
        in: query
        name: data_state
        required: false
        schema:
          default: final
          enum:
          - final
          - all
          type: string
        style: form
      responses:
        "200":
          description: Search Console time series
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_ACCESS_REVOKED
                  message: Google Search Console access was revoked. Reconnect the
                    property in Preferences > Project Settings > Data Connections.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Plan below Growth (ERR_PLAN_REQUIRED), or Google revoked the\
            \ project's Search Console access (ERR_SEARCH_CONSOLE_ACCESS_REVOKED):\
            \ reconnect the property"
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "503":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_UPSTREAM
                  message: Google Search Console is temporarily unavailable. Retry
                    in a few minutes.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Upstream provider unavailable, retry after the number of seconds\
            \ in the Retry-After header"
          headers:
            Retry-After:
              description: "Seconds to wait before retrying: Google's own value when\
                \ it sent one, otherwise 900 after a quota error and 60 after an outage"
              explode: false
              schema:
                type: integer
              style: simple
      summary: Search Console time series (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /search_console/queries:
    get:
      description: "Top Google Search Console search queries over a date range, ranked\
        \ by impressions, clicks, ctr or position, paginated. Excludes anonymized\
        \ queries; for headline totals use /search_console/summary. Requires a connected\
        \ Search Console property (Growth+). X-Search-Console-Backend identifies stored\
        \ or live reads. Stored reads use synced data without contacting Google. Live\
        \ reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED (403) for revoked Google\
        \ access; reconnect the property in Preferences > Project Settings > Data\
        \ Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM (503) when Google Search\
        \ Console is unavailable or over quota; wait for the number of seconds in\
        \ Retry-After before retrying. total counts distinct keys available for the\
        \ range: keys from synced daily rows for stored reads, or up to 25,000 rows\
        \ from one Google request for live reads. Live responses include truncated:\
        \ true when that limit is reached. Sorting and pagination apply to the available\
        \ set."
      operationId: getSearchConsoleQueries
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: impressions
          enum:
          - impressions
          - clicks
          - ctr
          - position
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      - description: "Which search surface to measure. Defaults to web. discover and\
          \ googleNews carry no query dimension, so Google rejects /search_console/queries\
          \ for them."
        explode: true
        in: query
        name: search_type
        required: false
        schema:
          default: web
          enum:
          - web
          - image
          - video
          - news
          - discover
          - googleNews
          type: string
        style: form
      - description: "Narrow the query; every entry must match (AND). Send the whole\
          \ list as one JSON value: filters=[{\"dimension\":\"page\",\"operator\"\
          :\"contains\",\"expression\":\"/blog/\"}] (URL-encoded). An array of objects\
          \ has no query-parameter form a generated client can produce, so the string\
          \ is what the official SDKs send; see the SearchConsoleFilters schema for\
          \ the shape it encodes. includingRegex and excludingRegex take RE2 syntax.\
          \ At most 10 entries, expression at most 500 characters. The bracket form\
          \ filters[][dimension]=page&filters[][operator]=contains&filters[][expression]=/blog/\
          \ is also accepted."
        example: "[{\"dimension\":\"page\",\"operator\":\"contains\",\"expression\"\
          :\"/blog/\"}]"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - description: "final (default) counts only rows Google has finalized. all also\
          \ counts the most recent days, which are still being filled in and will\
          \ change."
        explode: true
        in: query
        name: data_state
        required: false
        schema:
          default: final
          enum:
          - final
          - all
          type: string
        style: form
      responses:
        "200":
          description: Top queries
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_ACCESS_REVOKED
                  message: Google Search Console access was revoked. Reconnect the
                    property in Preferences > Project Settings > Data Connections.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Plan below Growth (ERR_PLAN_REQUIRED), or Google revoked the\
            \ project's Search Console access (ERR_SEARCH_CONSOLE_ACCESS_REVOKED):\
            \ reconnect the property"
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "503":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_UPSTREAM
                  message: Google Search Console is temporarily unavailable. Retry
                    in a few minutes.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Upstream provider unavailable, retry after the number of seconds\
            \ in the Retry-After header"
          headers:
            Retry-After:
              description: "Seconds to wait before retrying: Google's own value when\
                \ it sent one, otherwise 900 after a quota error and 60 after an outage"
              explode: false
              schema:
                type: integer
              style: simple
      summary: Top Search Console queries (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /search_console/pages:
    get:
      description: "Top Google Search Console landing pages over a date range, ranked\
        \ by impressions, clicks, ctr or position, paginated. Requires a connected\
        \ Search Console property (Growth+). X-Search-Console-Backend identifies stored\
        \ or live reads. Stored reads use synced data without contacting Google. Live\
        \ reads return ERR_SEARCH_CONSOLE_ACCESS_REVOKED (403) for revoked Google\
        \ access; reconnect the property in Preferences > Project Settings > Data\
        \ Connections. They return ERR_SEARCH_CONSOLE_UPSTREAM (503) when Google Search\
        \ Console is unavailable or over quota; wait for the number of seconds in\
        \ Retry-After before retrying. total counts distinct keys available for the\
        \ range: keys from synced daily rows for stored reads, or up to 25,000 rows\
        \ from one Google request for live reads. Live responses include truncated:\
        \ true when that limit is reached. Sorting and pagination apply to the available\
        \ set."
      operationId: getSearchConsolePages
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: impressions
          enum:
          - impressions
          - clicks
          - ctr
          - position
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      - description: "Which search surface to measure. Defaults to web. discover and\
          \ googleNews carry no query dimension, so Google rejects /search_console/queries\
          \ for them."
        explode: true
        in: query
        name: search_type
        required: false
        schema:
          default: web
          enum:
          - web
          - image
          - video
          - news
          - discover
          - googleNews
          type: string
        style: form
      - description: "Narrow the query; every entry must match (AND). Send the whole\
          \ list as one JSON value: filters=[{\"dimension\":\"page\",\"operator\"\
          :\"contains\",\"expression\":\"/blog/\"}] (URL-encoded). An array of objects\
          \ has no query-parameter form a generated client can produce, so the string\
          \ is what the official SDKs send; see the SearchConsoleFilters schema for\
          \ the shape it encodes. includingRegex and excludingRegex take RE2 syntax.\
          \ At most 10 entries, expression at most 500 characters. The bracket form\
          \ filters[][dimension]=page&filters[][operator]=contains&filters[][expression]=/blog/\
          \ is also accepted."
        example: "[{\"dimension\":\"page\",\"operator\":\"contains\",\"expression\"\
          :\"/blog/\"}]"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      - description: "final (default) counts only rows Google has finalized. all also\
          \ counts the most recent days, which are still being filled in and will\
          \ change."
        explode: true
        in: query
        name: data_state
        required: false
        schema:
          default: final
          enum:
          - final
          - all
          type: string
        style: form
      responses:
        "200":
          description: Top pages
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_ACCESS_REVOKED
                  message: Google Search Console access was revoked. Reconnect the
                    property in Preferences > Project Settings > Data Connections.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Plan below Growth (ERR_PLAN_REQUIRED), or Google revoked the\
            \ project's Search Console access (ERR_SEARCH_CONSOLE_ACCESS_REVOKED):\
            \ reconnect the property"
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "503":
          content:
            application/json:
              example:
                error:
                  code: ERR_SEARCH_CONSOLE_UPSTREAM
                  message: Google Search Console is temporarily unavailable. Retry
                    in a few minutes.
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Upstream provider unavailable, retry after the number of seconds\
            \ in the Retry-After header"
          headers:
            Retry-After:
              description: "Seconds to wait before retrying: Google's own value when\
                \ it sent one, otherwise 900 after a quota error and 60 after an outage"
              explode: false
              schema:
                type: integer
              style: simple
      summary: Top Search Console pages (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /dimensions/projects:
    get:
      description: All projects accessible with your API key.
      operationId: listProjects
      parameters:
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProjects_200_response"
          description: Projects
      summary: List projects
      tags:
      - Projects
      x-accepts:
      - application/json
  /dimensions/projects/{id}:
    get:
      description: "Detailed info for one project: matching_names, industry, business\
        \ model, primary products, target audience, brand voice, locale, app store\
        \ IDs, stats (incl. prompts_by_brand_kind counts) and data_coverage (models,\
        \ countries and languages with data)."
      operationId: getProjectDetails
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDetails"
          description: Project details
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Project details
      tags:
      - Projects
      x-accepts:
      - application/json
  /dimensions/competitors:
    get:
      operationId: listCompetitors
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "When true, prepends the project brand with actor_type=project\
          \ and is_own=true"
        explode: true
        in: query
        name: include_project_brand
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompetitors_200_response"
          description: Competitors
      summary: List competitors
      tags:
      - Competitors
      x-accepts:
      - application/json
  /dimensions/competitors/{id}:
    get:
      operationId: getCompetitorDetails
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompetitorDetails"
          description: Competitor details
      summary: Competitor details
      tags:
      - Competitors
      x-accepts:
      - application/json
  /dimensions/collections:
    get:
      operationId: listCollections
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Collections
      summary: List tags/collections
      tags:
      - Collections & Tags
      x-accepts:
      - application/json
  /dimensions/tags:
    get:
      operationId: listTags
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Tags
      summary: List tags (alias for /collections)
      tags:
      - Collections & Tags
      x-accepts:
      - application/json
  /dimensions/models:
    get:
      operationId: listModels
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: Models
      summary: List models with data
      tags:
      - Projects
      x-accepts:
      - application/json
  /dimensions/locales:
    get:
      operationId: listLocales
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: Locales
      summary: List locales with data
      tags:
      - Projects
      x-accepts:
      - application/json
  /dimensions/sentiments:
    get:
      description: "Sentiment metric keys + labels + colors. For records, use /sentiments."
      operationId: listSentimentCategories
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Sentiment buckets
      summary: List sentiment categories
      tags:
      - Sentiments
      x-accepts:
      - application/json
  /dimensions/prompts:
    get:
      operationId: listPrompts
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          - naver_ai
          - baidu_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated prompts
      summary: List prompts
      tags:
      - Prompts
      x-accepts:
      - application/json
  /dimensions/prompt_executions:
    get:
      operationId: listPromptExecutions
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          - naver_ai
          - baidu_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by which brands are mentioned, as a two-axis matrix (your\
          \ brand x competitors): mentions_you / not_mentions_you, mentions_competitor\
          \ / not_mentions_competitor, and the four combined cells you_and_competitor,\
          \ competitor_not_you (a rival wins and you are absent), you_not_competitor,\
          \ no_brands (no tracked brand appears, i.e. open space). Combine with 'competitors'\
          \ to narrow the competitor side to specific rivals; on a negative cell that\
          \ reads 'none of these'. On /dimensions/sources it applies to the crawled\
          \ content of each cited page instead of the answer text. The legacy value\
          \ 'competitors_only' is still accepted as an alias of competitor_not_you."
        explode: true
        in: query
        name: mention_filter
        required: false
        schema:
          enum:
          - mentions_you
          - not_mentions_you
          - mentions_competitor
          - not_mentions_competitor
          - you_and_competitor
          - competitor_not_you
          - you_not_competitor
          - no_brands
          type: string
        style: form
[...]
