openapi: 3.0.3
info:
  contact:
    email: info@llmpulse.ai
    name: LLM Pulse Support
    url: https://llmpulse.ai
  description: REST API client for LLM Pulse AI visibility analytics.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  title: LLM Pulse API
  version: 1.57.0
servers:
- description: Production API
  url: https://api.llmpulse.ai/api/v1
security:
- BearerAuth: []
tags:
- description: "Health check that validates an API key and, optionally, access to\
    \ a project."
  name: Health
- description: "Plan, subscription window, quota consumption and API rate limits for\
    \ the authenticated account. Read it before spending quota so an integration can\
    \ see its remaining budget instead of discovering the ceiling by hitting it."
  name: Account
- description: "A project is one tracked brand. List and read projects, see which\
    \ AI models and locales have data, create a project in one call, or drive the\
    \ multi-step draft wizard."
  name: Projects
- description: "Aggregated visibility, share of voice, citation and position data\
    \ for the project and its competitors: time series, period summary, per-prompt\
    \ summary, Share of Voice and top cited sources."
  name: Metrics
- description: The brands tracked alongside your own. Competitor ids are the actor_id
    values the metrics endpoints report against.
  name: Competitors
- description: "The questions executed against the AI models every week, and the execution\
    \ records each run produces."
  name: Prompts
- description: "Collections (labelled Tags in the app) group prompts by topic, funnel\
    \ stage or campaign so metrics can be filtered by them."
  name: Collections & Tags
- description: "The AI responses behind every metric, with their full text, mentions,\
    \ citations and sentiment analysis."
  name: Answers
- description: "The raw records behind the visibility metrics: one row per brand mention\
    \ or per cited URL, for the project brand, for competitors, or for both in a single\
    \ stream."
  name: Mentions & Citations
- description: "Sentiment records with their comments, topics and scores, plus the\
    \ category catalog used to label them."
  name: Sentiments
- description: "Every URL extracted from AI responses, plus grouped URL, domain and\
    \ host views, page-cache metadata, mention evidence inside cited pages, occurrences\
    \ and sanitized cached content."
  name: Sources & Citation Intelligence
- description: "Aggregate AI Model Insights report endpoints (summary, position distribution,\
    \ AI Overview results). All filter by executed_at and share a standard actor shape."
  name: AI Model Insights
- description: "What AI sends to your site: referral traffic from AI assistants measured\
    \ by the connected web analytics provider, and AI crawler traffic hitting your\
    \ origin server. Scale plan and above."
  name: AI & Agent Traffic
- description: "Commercial surfaces inside AI answers: the product cards models return,\
    \ the paid placements that run alongside them, and the local businesses they list\
    \ for prompts with local intent. Shopping and ads need the Scale plan or above;\
    \ local businesses are available on every plan."
  name: Shopping & Ads
- description: "Which of your own channels and which community conversations AI answers\
    \ cite: YouTube, Instagram, Facebook, TikTok, LinkedIn, app-store listings and\
    \ Reddit. Growth plan and above."
  name: Owned Media & Communities
- description: "Multi-model analyst reports: the monthly reputation scoring of your\
    \ brand against its competitors, and the custom AI studies you define over any\
    \ subjects and dimensions. Requires reputation monitoring."
  name: Reputation & Studies
- description: "Google Search Console performance data (impressions, clicks, CTR,\
    \ average position) for projects with a connected GSC property: headline totals,\
    \ time series, top queries and top pages. Growth plan and above."
  name: Search Console
- description: "Recommendation runs that power the in-app Recommendations page, plus\
    \ the endpoint that launches a new one."
  name: Recommendations
- description: "AI-powered GEO Writer tasks (formerly Content Intelligence). Tasks\
    \ are processed asynchronously, so create one and poll it until it completes."
  name: GEO Writer
- description: "Run the technical GEO analysis bundle, then list, poll and retrieve\
    \ each completed report."
  name: Technical GEO Reports
- description: "Audits re-run one technical GEO check type on a domain or URL, once\
    \ or weekly/monthly. Each run is kept: compare runs check by check, follow issues\
    \ across runs (new, fixed, regressed), accept known issues and read the alerts\
    \ scheduled runs raised."
  name: GEO Audits
- description: "Mark a date on the project timeline (a campaign launch, a site migration)\
    \ so charts show what happened when."
  name: Annotations
- description: "The endpoints behind the LLM Pulse app for Shopify: match a store\
    \ to its project, push the orders AI assistants referred to the store and read\
    \ them back, and turn catalog products into buyer prompts to track. They need\
    \ an API key (Scale plan or above) and are not available to accounts with a white-label\
    \ portal or an embed, which receive ERR_INTEGRATION_UNAVAILABLE (403)."
  name: Store Integrations
- description: "Outbound event notifications: subscribe an HTTPS URL to project events\
    \ and receive HMAC-signed deliveries with no polling. Scale plan and above."
  name: Webhooks
- description: "Model Context Protocol endpoint for AI clients (Claude, ChatGPT, Cursor\
    \ and other MCP-compatible assistants)."
  name: MCP
- description: "OAuth 2.1 authorization for MCP clients: discovery metadata, dynamic\
    \ client registration, authorization, token exchange and JWKS."
  name: OAuth 2.1
paths:
  /ping:
    get:
      description: "Validates the API key and optionally pings a project. Returns\
        \ the authenticated user_id, project (if project_id is supplied), and a request_id."
      operationId: ping
      parameters:
      - description: Optional project to verify access for
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ping_200_response"
          description: API is healthy
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: Health check
      tags:
      - Health
      x-llms-description: Health check; validates the API key and optionally pings
        a project.
      x-rest-only: Key and project health check; an MCP client checks its connection
        with the initialize handshake.
      x-accepts:
      - application/json
  /account:
    get:
      description: "Returns the account plan, tracking cadence, subscription window,\
        \ how much of each quota is used (prompts, projects, competitors per project,\
        \ monthly GEO Writer tasks, team members, active recurring GEO audits and\
        \ manual GEO audit runs in the last 24 hours) and the published API rate limits.\
        \ Limits resolve through the account owner, so a team member sees the capacity\
        \ that applies to them. An unlimited quota returns limit and remaining as\
        \ null with unlimited set to true, since Infinity is not representable in\
        \ JSON. The subscription block is only present for callers who can access\
        \ Billing and Plans in the app (the account owner, or a team member with billing\
        \ access); everyone else gets the same response without that key. requests_per_minute\
        \ is the ceiling of the key used for the call, not a fixed number. For a key\
        \ limited to some projects, the response carries nothing about the rest of\
        \ the account: plan, plan_name, subscription and limits.team_members are absent,\
        \ api_key_project_ids lists the key's projects, limits.prompts.used counts\
        \ those projects' prompts, limits.prompts, limits.intelligence_tasks and the\
        \ two GEO audit quotas show only remaining and unlimited (the capacity the\
        \ key can still spend, without the account total), and the projects quota\
        \ is capped at the projects it reaches. tracking_frequency stays, as the cadence\
        \ those projects' data is collected at."
      operationId: getAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccount_200_response"
          description: Account usage snapshot
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: "Account plan, quota usage and rate limits"
      tags:
      - Account
      x-llms-description: "Plan, subscription window, quota usage (prompts, projects,\
        \ competitors, intelligence tasks) and API rate limits for the authenticated\
        \ account."
      x-mcp-tool: get_account_usage
      x-accepts:
      - application/json
  /dimensions/projects:
    get:
      description: All projects accessible with your API key.
      operationId: listProjects
      parameters:
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProjects_200_response"
          description: Projects
      summary: List projects
      tags:
      - Projects
      x-llms-description: List all projects accessible to the API key.
      x-mcp-tool: list_projects
      x-accepts:
      - application/json
  /dimensions/projects/{id}:
    get:
      description: "Detailed info for one project: matching_names, industry, business\
        \ model, primary products, target audience, brand voice, locale, app store\
        \ IDs, stats (incl. prompts_by_brand_kind counts) and data_coverage (models,\
        \ countries and languages with data)."
      operationId: getProjectDetails
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDetails"
          description: Project details
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Project details
      tags:
      - Projects
      x-llms-description: "Detailed info for one project: matching names, locale,\
        \ industry, app store IDs, stats."
      x-mcp-tool: get_project_details
      x-accepts:
      - application/json
  /dimensions/models:
    get:
      operationId: listModels
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelsResponse"
          description: Models
      summary: List models with data
      tags:
      - Projects
      x-llms-description: List AI models the project has execution data for.
      x-mcp-tool: list_models
      x-accepts:
      - application/json
  /dimensions/locales:
    get:
      operationId: listLocales
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalesResponse"
          description: Locales
      summary: List locales with data
      tags:
      - Projects
      x-llms-description: List countries and languages with data for the project.
      x-mcp-tool: list_locales
      x-accepts:
      - application/json
  /project_drafts:
    post:
      description: "Start the multi-step project-creation wizard. Returns a draft_id\
        \ plus AI suggestions (name, description, industry, brand aliases) for the\
        \ URL. Cold URLs can take up to ~2 minutes to analyze; pass suggest=false\
        \ to skip AI and respond instantly. Drafts expire after 24h. Requires a `read_write`\
        \ scope API key."
      operationId: createProjectDraft
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createProjectDraft_request"
        required: true
      responses:
        "201":
          description: "Draft created; envelope with draft state, suggestions and\
            \ limits"
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_KEY_PROJECT_SCOPED
                  message: api_key_limited_to_projects
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Writes with a read-only key answer ERR_INSUFFICIENT_SCOPE,\
            \ and a key limited to some projects ERR_KEY_PROJECT_SCOPED, with the\
            \ same status: this operation acts on the whole account"
      summary: Start a project draft (wizard step 1)
      tags:
      - Projects
      x-llms-description: "Start the multi-step project wizard: returns a draft_id\
        \ + AI suggestions for the URL (name, description, industry, aliases)."
      x-mcp-tool: start_project_draft
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /project_drafts/{id}:
    get:
      operationId: getProjectDraft
      parameters:
      - description: Draft id (draft_...)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Cache-only: returns suggestions for the current step if already\
          \ generated, never triggers AI"
        explode: true
        in: query
        name: include_suggestions
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          description: Draft envelope
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_KEY_PROJECT_SCOPED
                  message: api_key_limited_to_projects
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Writes with a read-only key answer ERR_INSUFFICIENT_SCOPE,\
            \ and a key limited to some projects ERR_KEY_PROJECT_SCOPED, with the\
            \ same status: this operation acts on the whole account"
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Read a project draft
      tags:
      - Projects
      x-llms-description: "Read a draft: state, current step, accumulated data; include_suggestions=true\
        \ returns cached suggestions only."
      x-mcp-tool: get_project_draft
      x-write: true
      x-accepts:
      - application/json
    patch:
      description: "Submit one step (details, prompts, competitors, owned_media).\
        \ Strict forward gating: a step is only accepted when every previous step\
        \ is complete (`ERR_DRAFT_STATE` otherwise); completed steps can be resubmitted.\
        \ Responds with the updated draft plus AI suggestions for the next step."
      operationId: updateProjectDraft
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateProjectDraft_request"
        required: true
      responses:
        "200":
          description: Draft envelope with next-step suggestions
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_KEY_PROJECT_SCOPED
                  message: api_key_limited_to_projects
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Writes with a read-only key answer ERR_INSUFFICIENT_SCOPE,\
            \ and a key limited to some projects ERR_KEY_PROJECT_SCOPED, with the\
            \ same status: this operation acts on the whole account"
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Submit a wizard step
      tags:
      - Projects
      x-llms-description: "Submit a wizard step (details, prompts, competitors, owned_media)\
        \ with strict forward gating; responds with next-step AI suggestions."
      x-mcp-tool: update_project_draft
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /project_drafts/{id}/finalize:
    post:
      description: "Creates the project with all accumulated draft data (same effects\
        \ as POST /projects). Idempotent: finalizing an already-finalized draft returns\
        \ 200 with the existing project. Optional overrides: weekly_email_subscribed,\
        \ execute_prompts_immediately."
      operationId: finalizeProjectDraft
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/finalizeProjectDraft_request"
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCreateResponse"
          description: Project created
        "200":
          description: Idempotent replay
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_KEY_PROJECT_SCOPED
                  message: api_key_limited_to_projects
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Writes with a read-only key answer ERR_INSUFFICIENT_SCOPE,\
            \ and a key limited to some projects ERR_KEY_PROJECT_SCOPED, with the\
            \ same status: this operation acts on the whole account"
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Finalize a draft into a real project
      tags:
      - Projects
      x-llms-description: Create the real project from a completed draft (idempotent;
        same effects as POST /projects).
      x-mcp-tool: finalize_project_draft
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /projects:
    post:
      description: "Create a complete project in one call: project fields, prompts\
        \ (queued for execution and categorization), collections tagging those prompts,\
        \ competitors, weekly email subscription. The response lists same_domain_projects\
        \ so an accidental duplicate is visible; it never blocks the create. Idempotent\
        \ via `external_identifier` (embed-enabled accounts only; replay returns 200\
        \ with the existing project). Requires a `read_write` scope API key."
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCreateResponse"
          description: Created
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCreateResponse"
          description: Idempotent replay (existing external_identifier)
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_KEY_PROJECT_SCOPED
                  message: api_key_limited_to_projects
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Writes with a read-only key answer ERR_INSUFFICIENT_SCOPE,\
            \ and a key limited to some projects ERR_KEY_PROJECT_SCOPED, with the\
            \ same status: this operation acts on the whole account"
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Create a project (fast mode)
      tags:
      - Projects
      x-llms-description: "Create a complete project in one call (name, locale, prompts,\
        \ competitors, owned media, Brand Book profile); idempotent via external_identifier."
      x-mcp-tool: create_project
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /projects/{id}:
    patch:
      description: "Updates the project name and profile, the same fields as Project\
        \ Settings: name, brand_name, description, industry, business_model (plus\
        \ business_model_other when it is OTHER), target_audience, brand_voice, goals,\
        \ primary_products, matching_names. Send only the fields to change; unknown\
        \ fields are rejected. All seven Brand Book fields feed every GEO Writer task\
        \ and prompt suggestions; only industry, description, and target_audience\
        \ help Recommendations. A matching_names change re-runs mention/citation matching\
        \ over the project history in the background (rematching=true); further edits\
        \ are rejected while that runs. Requires a `read_write` scope API key."
      operationId: updateProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateProject_request"
        required: true
      responses:
        "200":
          description: "Updated: { project, updated_fields, rematching, note, request_id\
            \ }"
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Update a project profile (Brand Book)
      tags:
      - Projects
      x-llms-description: "Update the project profile / Brand Book (brand_name, description,\
        \ industry, business_model, target_audience, brand_voice, goals, primary_products,\
        \ matching_names). A matching_names change re-runs matching in the background."
      x-mcp-tool: update_project
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /metrics/timeseries:
    get:
      description: "Returns time-series data for one or more metrics, broken down\
        \ by actor (project + competitors). Supports day/week/month granularity, with\
        \ sticky carry-forward semantics for week/month aggregates."
      operationId: getTimeseries
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Comma-separated list of metrics: mentions, citations, responses,\
          \ mention_rate, visibility (alias for mention_rate), weighted_visibility,\
          \ ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position,\
          \ avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive,\
          \ sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations\
          \ and citation_rate include visible citations and background source references;\
          \ avg_position uses visible citations only."
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: include_project
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeseriesResponse"
          description: Time-series data
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Time-series metrics
      tags:
      - Metrics
      x-llms-description: "Time-series for one or more metrics, broken down by actor\
        \ (brand + competitors)."
      x-mcp-tool: get_timeseries
      x-accepts:
      - application/json
  /metrics/summary:
    get:
      description: "Same as /metrics/timeseries but adds a `summary` block with total/min/max/last\
        \ per metric per actor, plus a `position_distribution` block (Position 1,\
        \ Position 2, Position 3+). Citations and citation rate include visible citations\
        \ and background source references. Background references use position 0 and\
        \ are excluded from avg_position and position distributions. `total` is a\
        \ SUM for count metrics (mentions, citations, responses) and an AVERAGE across\
        \ periods for rate/percentage and average metrics (visibility/mention_rate,\
        \ citation_rate, ai_visibility_score, sentiment shares, avg_position, avg_mention_position,\
        \ net_sentiment); rates are never summed. Each summary row carries an `aggregation`\
        \ field (`sum` or `average`)."
      operationId: getSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Comma-separated list of metrics: mentions, citations, responses,\
          \ mention_rate, visibility (alias for mention_rate), weighted_visibility,\
          \ ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position,\
          \ avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive,\
          \ sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations\
          \ and citation_rate include visible citations and background source references;\
          \ avg_position uses visible citations only."
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SummaryResponse"
          description: Summary metrics
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Aggregated metrics summary
      tags:
      - Metrics
      x-llms-description: "Aggregated period summary with totals (sum for counts,\
        \ average for rates; see aggregation field), min/max/last, plus position distribution."
      x-mcp-tool: get_summary
      x-accepts:
      - application/json
  /metrics/prompt_summary:
    get:
      description: "Paginated per-prompt aggregated metrics. Returns responses, mentions,\
        \ citations, mention_rate, citation_rate, avg_mention_position and avg_position\
        \ per prompt. Citations and citation rate include visible citations and background\
        \ source references; avg_position uses visible citations only. Pass `breakdown=model`\
        \ to split each prompt by model."
      operationId: getPromptSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Add per-(prompt, model) rows to the output"
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          enum:
          - model
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: responses
          enum:
          - responses
          - mentions
          - citations
          - mention_rate
          - visibility
          - citation_rate
          - avg_mention_position
          - avg_position
          type: string
        style: form
      - explode: true
        in: query
        name: sort_dir
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptSummaryResponse"
          description: Per-prompt metrics
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: missing_authorization
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: Per-prompt metrics summary
      tags:
      - Metrics
      x-llms-description: "Paginated per-prompt metrics (responses, mentions, citations,\
        \ mention_rate, citation_rate, avg position)."
      x-mcp-tool: get_prompt_summary
      x-accepts:
      - application/json
  /metrics/sov:
    get:
      description: "Share of Voice breakdown comparing your project to competitors.\
        \ Returns over_time, current snapshot, and a Top-4 + Others breakdown."
      operationId: getShareOfVoice
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      - description: "Which Share of Voice projection to flatten. Only valid together\
          \ with 'output'. 'over_time' (default) is one row per date and actor, 'current'\
          \ the ranked snapshot, 'breakdown' the Top 4 plus Others."
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: over_time
          enum:
          - over_time
          - current
          - breakdown
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SovResponse"
          description: Share of voice data
      summary: Share of Voice
      tags:
      - Metrics
      x-llms-description: "Share of Voice for the project vs competitors (over time,\
        \ current snapshot, Top-4 + Others breakdown)."
      x-mcp-tool: get_sov
      x-accepts:
      - application/json
  /metrics/top_sources:
    get:
      description: "Registrable domains most frequently cited in AI responses for\
        \ the project, including visible citations and background source references.\
        \ This endpoint remains a domain rollup when exact-subdomain matching is enabled.\
        \ Results can be sorted by total responses, average mention rate, or average\
        \ visibility."
      operationId: getTopSources
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: total_responses
          enum:
          - total_responses
          - avg_mention_rate
          - avg_visibility
          type: string
        style: form
      - description: Filter domains by case-insensitive partial match
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopSourcesResponse"
          description: Top sources
      summary: Top cited sources
      tags:
      - Metrics
      x-llms-description: Top cited domains across AI responses with sortable mention/citation
        stats.
      x-mcp-tool: get_top_sources
      x-accepts:
      - application/json
  /dimensions/competitors:
    get:
      operationId: listCompetitors
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "When true, prepends the project brand with actor_type=project\
          \ and is_own=true"
        explode: true
        in: query
        name: include_project_brand
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompetitors_200_response"
          description: Competitors
      summary: List competitors
      tags:
      - Competitors
      x-llms-description: List competitors for a project (optionally including the
        project brand as actor_type=project).
      x-mcp-tool: list_competitors
      x-accepts:
      - application/json
  /dimensions/competitors/{id}:
    get:
      operationId: getCompetitorDetails
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompetitorDetails"
          description: Competitor details
      summary: Competitor details
      tags:
      - Competitors
      x-llms-description: "Detailed info for one competitor: matching names, app store\
        \ IDs, color."
      x-mcp-tool: get_competitor_details
      x-accepts:
      - application/json
  /competitors:
    post:
      description: Adds a competitor with its own citation URL matching rule. Honours
        the per-plan max competitors cap. Requires a `read_write` scope API key.
      operationId: createCompetitor
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCompetitor_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompetitorCreateResponse"
          description: Created
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Add a competitor
      tags:
      - Competitors
      x-llms-description: Add a competitor (brand_name + domain) to a project; respects
        the plan competitor cap.
      x-mcp-tool: create_competitor
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /competitors/{id}:
    delete:
      description: Deletes a competitor (irreversible). It disappears immediately
        and frees a competitor slot; its tracked data is purged by a background job.
        Requires a `read_write` scope API key.
      operationId: deleteCompetitor
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Deleted
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Delete a competitor
      tags:
      - Competitors
      x-llms-description: Delete a competitor (irreversible; frees a competitor slot;
        tracked data purged in the background).
      x-mcp-tool: delete_competitor
      x-write: true
      x-accepts:
      - application/json
    patch:
      description: "Updates brand_name, the competitor website domain or host, matching_names\
        \ (full replacement list; the brand name is always included automatically),\
        \ color and/or the citation URL matching rule. Website domain/host and citation-rule\
        \ changes share one seven-day cooldown per competitor; other fields remain\
        \ editable during the cooldown. Name, website or citation-rule changes re-run\
        \ historical matching in the background: the competitor shows processing=true\
        \ for a few minutes and further edits are rejected meanwhile. Requires a `read_write`\
        \ scope API key."
      operationId: updateCompetitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateCompetitor_request"
        required: true
      responses:
        "200":
          description: Updated
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Update a competitor
      tags:
      - Competitors
      x-llms-description: "Update a competitor (brand_name, matching_names, color;\
        \ domain is immutable). Name changes re-run matching in the background."
      x-mcp-tool: update_competitor
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /dimensions/prompts:
    get:
      operationId: listPrompts
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptsResponse"
          description: "Paginated prompts. Every row carries app_url, the link that\
            \ opens the prompt in the app"
      summary: List prompts
      tags:
      - Prompts
      x-llms-description: "Paginated list of prompts with their primary tag, all tags,\
        \ locale, and last_executed_at."
      x-mcp-tool: list_prompts
      x-accepts:
      - application/json
  /dimensions/prompt_executions:
    get:
      operationId: listPromptExecutions
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by which brands are mentioned, as a two-axis matrix (your\
          \ brand x competitors): mentions_you / not_mentions_you, mentions_competitor\
          \ / not_mentions_competitor, and the four combined cells you_and_competitor,\
          \ competitor_not_you (a rival wins and you are absent), you_not_competitor,\
          \ no_brands (no tracked brand appears, i.e. open space). Combine with 'competitors'\
          \ to narrow the competitor side to specific rivals; on a negative cell that\
          \ reads 'none of these'. On /dimensions/sources it applies to the crawled\
          \ content of each cited page instead of the answer text. The legacy value\
          \ 'competitors_only' is still accepted as an alias of competitor_not_you."
        explode: true
        in: query
        name: mention_filter
        required: false
        schema:
          enum:
          - mentions_you
          - not_mentions_you
          - mentions_competitor
          - not_mentions_competitor
          - you_and_competitor
          - competitor_not_you
          - you_not_competitor
          - no_brands
          type: string
        style: form
      - description: Same two-axis matrix applied to the domains cited in the answer
          instead of the brands named in it. Independent of mention_filter; pass both
          to intersect them (e.g. mentions_you + not_cites_you finds answers that
          talk about you without linking to you).
        explode: true
        in: query
        name: citation_filter
        required: false
        schema:
          enum:
          - cites_you
          - not_cites_you
          - cites_competitor
          - not_cites_competitor
          - you_and_competitor
          - competitor_not_you
          - you_not_competitor
          - cites_no_brands
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptExecutionsResponse"
          description: "Paginated executions. Every row carries app_url, the link\
            \ that opens the answer in the app"
      summary: List prompt executions
      tags:
      - Prompts
      x-llms-description: "Paginated list of execution records: model, executed_at,\
        \ success, fan_out_queries, counts."
      x-mcp-tool: list_prompt_executions
      x-accepts:
      - application/json
  /dimensions/query_fan_outs:
    get:
      description: "The sub-queries a model actually issued when answering your tracked\
        \ prompts. view=query (default) returns one row per distinct sub-query with\
        \ count and share of all occurrences; view=prompt returns one row per prompt\
        \ with how many distinct sub-queries it produced. Fan-out is reported mainly\
        \ by ChatGPT, so an empty result usually means the models in scope do not\
        \ expose it. The API returns the aggregation only: for a period-over-period\
        \ delta, call it twice with explicit from/to."
      operationId: listQueryFanOuts
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Row shape: one per distinct sub-query, or one per prompt"
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: query
          enum:
          - query
          - prompt
          type: string
        style: form
      - description: Sort field; the allowed set depends on view
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - count
          - share
          - query_text
          - total_count
          - variations_count
          - prompt_text
          type: string
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Case-insensitive substring filter on the sub-query text
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
          \ integer-or-string union made generators emit a wrapper type they could\
          \ not serialize."
        example: "12,34"
        explode: true
        in: query
        name: collection_id
        required: false
        schema:
          pattern: "^\\d+(,\\d+)*$"
          type: string
        style: form
      - description: "One ISO country code or a comma-separated list (e.g. US,GB,DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "One ISO language code or a comma-separated list (e.g. en,es,de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: "One prompt type or a comma-separated list: informational, navigational,\
          \ commercial, transactional"
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of the window. A date-only value such as 2026-09-01 covers
          that whole day. Pass a full timestamp to end the window earlier.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated fan-out rows
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: List query fan-out
      tags:
      - Prompts
      x-llms-description: "Query fan-out: the sub-queries models issued behind your\
        \ prompts, per distinct sub-query (view=query) or per prompt (view=prompt)."
      x-mcp-tool: list_query_fan_outs
      x-accepts:
      - application/json
  /prompts:
    post:
      description: Add prompts to a project in bulk (up to 100 per request). Validates
        the account prompt quota and skips duplicates. Requires a `read_write` scope
        API key.
      operationId: createPrompts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptsCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptsCreateResponse"
          description: Created
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Bulk-create prompts
      tags:
      - Prompts
      x-llms-description: Bulk-create prompts (up to 100 per request); skips duplicates
        and validates the account prompt quota.
      x-mcp-tool: create_prompts
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /prompts/{id}:
    delete:
      description: "Deletes a prompt (irreversible). The prompt disappears immediately\
        \ and frees a prompt slot; its historical data (executions, mentions, citations,\
        \ sentiment) is purged by a background job. Requires a `read_write` scope\
        \ API key."
      operationId: deletePrompt
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Deleted
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Delete a prompt
      tags:
      - Prompts
      x-llms-description: Delete a prompt (irreversible; frees a prompt slot; history
        purged in the background).
      x-mcp-tool: delete_prompt
      x-write: true
      x-accepts:
      - application/json
  /dimensions/collections:
    get:
      operationId: listCollections
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionsResponse"
          description: Collections
      summary: List tags/collections
      tags:
      - Collections & Tags
      x-llms-description: "List prompt tags/collections (alias: /dimensions/tags)."
      x-mcp-tool: list_collections
      x-accepts:
      - application/json
  /dimensions/tags:
    get:
      operationId: listTags
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionsResponse"
          description: Tags
      summary: List tags (alias for /collections)
      tags:
      - Collections & Tags
      x-llms-description: Alias for /dimensions/collections.
      x-mcp-tool: list_tags
      x-accepts:
      - application/json
  /prompts/assign_tags:
    post:
      description: "Idempotent bulk assignment of tags (Collections) to existing prompts.\
        \ Tags can be resolved by id or by name (case-insensitive). Use `create_missing:\
        \ true` to auto-create unknown tag names. Requires a `read_write` scope API\
        \ key."
      operationId: assignPromptTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/assignPromptTags_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptTagsAssignResponse"
          description: Tags attached
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Bulk-attach tags to prompts
      tags:
      - Collections & Tags
      x-llms-description: "Bulk-attach tags to existing prompts (resolve by id or\
        \ name, optional create-on-the-fly). Idempotent."
      x-mcp-tool: assign_prompt_tags
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /collections:
    post:
      description: Creates a tag (Collection) in a project. Optional `prompt_ids`
        attaches existing prompts in the same call. Tag name must be unique per project
        (case-insensitive). Requires a `read_write` scope API key.
      operationId: createCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCollection_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionCreateResponse"
          description: Created
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Create a tag
      tags:
      - Collections & Tags
      x-llms-description: Create a tag (Collection) in a project; can attach existing
        prompts in the same call.
      x-mcp-tool: create_collection
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /collections/{id}:
    delete:
      description: Deletes a tag/collection. The prompts inside it are NOT deleted;
        only the grouping disappears. Requires a `read_write` scope API key.
      operationId: deleteCollection
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Deleted
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Delete a tag
      tags:
      - Collections & Tags
      x-llms-description: Delete a tag/collection; the prompts inside it are kept.
      x-mcp-tool: delete_collection
      x-write: true
      x-accepts:
      - application/json
    patch:
      description: "Renames a tag/collection or changes its description. Prompt membership\
        \ is managed via POST /prompts/assign_tags, not here. Requires a `read_write`\
        \ scope API key."
      operationId: updateCollection
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateCollection_request"
        required: true
      responses:
        "200":
          description: Updated
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_INSUFFICIENT_SCOPE
                  message: insufficient_scope_write_required
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: API key lacks write permission
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: project_not_found
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: invalid metrics
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Update a tag
      tags:
      - Collections & Tags
      x-llms-description: Rename a tag/collection or change its description.
      x-mcp-tool: update_collection
      x-write: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /answers:
    get:
      description: "Successful prompt-execution responses with truncated content (max\
        \ 10,000 chars). Pass `query` for case-insensitive full-text search inside\
        \ response texts: `total` becomes the exact count of matching responses and\
        \ each item returns `snippet` + `match_count` instead of `response`/`response_truncated`."
      operationId: listAnswers
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - ai_mode
          - ai_overview
          - gemini
          - copilot
          - amazon_rufus
          - claude
          - grok
          - deepseek
          - naver_ai
          - baidu_ai
          - meta_ai
          type: string
        style: form
      - description: "One collection/tag ID or a comma-separated list of IDs. A query\
          \ value is always a string on the wire, so it is typed as one: the previous\
[...]
