openapi: 3.0.3
info:
  contact:
    email: info@llmpulse.ai
    name: LLM Pulse Support
    url: https://llmpulse.ai
  description: REST API client for LLM Pulse AI visibility analytics.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  title: LLM Pulse API
  version: 1.22.0
servers:
- description: Production API
  url: https://api.llmpulse.ai/api/v1
security:
- BearerAuth: []
tags:
- description: API health check
  name: Health
- description: "Lists of projects, competitors, prompts, mentions, citations and other\
    \ dimensional entities"
  name: Dimensions
- description: "Aggregated time-series, summary, Share of Voice, top sources and agent-traffic\
    \ metrics"
  name: Metrics
- description: "Google Search Console performance data (impressions, clicks, CTR,\
    \ average position) for projects with a connected GSC property: headline totals,\
    \ time series, top queries and top pages. Growth plan and above."
  name: Search Console
- description: "Grouped cited-URL intelligence with page-cache metadata, mention evidence,\
    \ occurrences and sanitized cached content"
  name: Citation Intelligence
- description: "Aggregate AI Model Insights report endpoints (summary, position distribution,\
    \ AI Overview results)"
  name: AI Model Insights
- description: "Raw AI responses with mentions, citations, sentiments, sources, shopping\
    \ products, brand entities and local businesses"
  name: Answers
- description: Per-execution sentiment analysis records
  name: Sentiments
- description: Recommendation runs (the same data that powers the in-app Recommendations
    experience)
  name: Recommendations
- description: Bulk-create prompts
  name: Prompts
- description: Create and inspect GEO Writer (formerly Content Intelligence) tasks
  name: GEO Writer
- description: Model Context Protocol endpoint for AI clients
  name: MCP
- description: "Outbound webhook subscriptions: signed HTTP POST notifications for\
    \ project events (new mentions, citations, executions, negative sentiment, completed\
    \ reports). Scale plan and above."
  name: Webhooks
paths:
  /ping:
    get:
      description: "Validates the API key and optionally pings a project. Returns\
        \ the authenticated user_id, project (if project_id is supplied), and a request_id."
      operationId: ping
      parameters:
      - description: Optional project to verify access for
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ping_200_response"
          description: API is healthy
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: Missing Authorization header
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: Health check
      tags:
      - Health
      x-accepts:
      - application/json
  /metrics/timeseries:
    get:
      description: "Returns time-series data for one or more metrics, broken down\
        \ by actor (project + competitors). Supports day/week/month granularity, with\
        \ sticky carry-forward semantics for week/month aggregates."
      operationId: getTimeseries
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Comma-separated list of metrics: mentions, citations, responses,\
          \ mention_rate, visibility (alias for mention_rate), weighted_visibility,\
          \ ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position,\
          \ avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive,\
          \ sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations\
          \ and citation_rate include visible citations and background source references;\
          \ avg_position uses visible citations only."
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt type (search intent)
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          enum:
          - informational
          - navigational
          - commercial
          - transactional
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: include_project
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeseriesResponse"
          description: Time-series data
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: Missing Authorization header
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: "Unknown metric: invalid_metric"
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Time-series metrics
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/summary:
    get:
      description: "Same as /metrics/timeseries but adds a `summary` block with total/min/max/last\
        \ per metric per actor, plus a `position_distribution` block (Position 1,\
        \ Position 2, Position 3+). Citations and citation rate include visible citations\
        \ and background source references. Background references use position 0 and\
        \ are excluded from avg_position and position distributions. `total` is a\
        \ SUM for count metrics (mentions, citations, responses) and an AVERAGE across\
        \ periods for rate/percentage and average metrics (visibility/mention_rate,\
        \ citation_rate, ai_visibility_score, sentiment shares, avg_position, avg_mention_position,\
        \ net_sentiment); rates are never summed. Each summary row carries an `aggregation`\
        \ field (`sum` or `average`)."
      operationId: getSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Comma-separated list of metrics: mentions, citations, responses,\
          \ mention_rate, visibility (alias for mention_rate), weighted_visibility,\
          \ ai_visibility_score (alias for weighted_visibility), citation_rate, avg_position,\
          \ avg_mention_position, net_sentiment, sentiment_very_positive, sentiment_positive,\
          \ sentiment_neutral, sentiment_negative, sentiment_very_negative. Citations\
          \ and citation_rate include visible citations and background source references;\
          \ avg_position uses visible citations only."
        explode: true
        in: query
        name: metrics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt type (search intent)
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          enum:
          - informational
          - navigational
          - commercial
          - transactional
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SummaryResponse"
          description: Summary metrics
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: Missing Authorization header
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Aggregated metrics summary
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/prompt_summary:
    get:
      description: "Paginated per-prompt aggregated metrics. Returns responses, mentions,\
        \ citations, mention_rate, citation_rate, avg_mention_position and avg_position\
        \ per prompt. Citations and citation rate include visible citations and background\
        \ source references; avg_position uses visible citations only. Pass `breakdown=model`\
        \ to split each prompt by model."
      operationId: getPromptSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Add per-(prompt, model) rows to the output"
        explode: true
        in: query
        name: breakdown
        required: false
        schema:
          enum:
          - model
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt type (search intent)
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          enum:
          - informational
          - navigational
          - commercial
          - transactional
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: responses
          enum:
          - responses
          - mentions
          - citations
          - mention_rate
          - visibility
          - citation_rate
          - avg_mention_position
          - avg_position
          type: string
        style: form
      - explode: true
        in: query
        name: sort_dir
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptSummaryResponse"
          description: Per-prompt metrics
        "401":
          content:
            application/json:
              example:
                error:
                  code: ERR_MISSING_AUTH
                  message: Missing Authorization header
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failed
      summary: Per-prompt metrics summary
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/sov:
    get:
      description: "Share of Voice breakdown comparing your project to competitors.\
        \ Returns over_time, current snapshot, and a Top-4 + Others breakdown."
      operationId: getShareOfVoice
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt type (search intent)
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          enum:
          - informational
          - navigational
          - commercial
          - transactional
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      - description: "Which Share of Voice projection to flatten. Only valid together\
          \ with 'output'. 'over_time' (default) is one row per date and actor, 'current'\
          \ the ranked snapshot, 'breakdown' the Top 4 plus Others."
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: over_time
          enum:
          - over_time
          - current
          - breakdown
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SovResponse"
          description: Share of voice data
      summary: Share of Voice
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/top_sources:
    get:
      description: "Registrable domains most frequently cited in AI responses for\
        \ the project, including visible citations and background source references.\
        \ This endpoint remains a domain rollup when exact-subdomain matching is enabled.\
        \ Results can be sorted by total responses, average mention rate, or average\
        \ visibility."
      operationId: getTopSources
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt type (search intent)
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          enum:
          - informational
          - navigational
          - commercial
          - transactional
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: total_responses
          enum:
          - total_responses
          - avg_mention_rate
          - avg_visibility
          type: string
        style: form
      - description: Filter domains by case-insensitive partial match
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopSourcesResponse"
          description: Top sources
      summary: Top cited sources
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/agent_traffic:
    get:
      description: "Aggregated AI bot traffic hitting the project's origin server\
        \ (GPTBot, PerplexityBot, ClaudeBot, OAI-SearchBot, Google-Extended, etc.).\
        \ Sourced from Cloudflare or CSV uploads. Requires the Scale plan; lower tiers\
        \ receive ERR_PLAN_REQUIRED."
      operationId: getAgentTraffic
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by bot slug (e.g. gptbot, claudebot, perplexitybot)"
        explode: true
        in: query
        name: bot
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by company (e.g. openai, anthropic, google)"
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: group_by
        required: false
        schema:
          default: bot
          enum:
          - bot
          - company
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentTrafficResponse"
          description: Agent traffic data
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: This endpoint requires the Scale plan or above
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
      summary: "AI bot crawler traffic (Scale+, Beta)"
      tags:
      - Metrics
      x-accepts:
      - application/json
  /metrics/ai_traffic:
    get:
      description: "AI referral traffic for a project: human visits arriving from\
        \ AI assistants (ChatGPT, Perplexity, Gemini, Claude, etc.), measured from\
        \ the connected web analytics provider (Google Analytics 4, Adobe Analytics,\
        \ PostHog, Plausible or Piano). Returns per-source users, sessions and conversions\
        \ with totals and a conversion rate. Requires a connected provider and the\
        \ Scale plan; otherwise returns ERR_AI_TRAFFIC_NOT_CONNECTED or ERR_PLAN_REQUIRED."
      operationId: getAiTraffic
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by a single AI source slug (e.g. chatgpt, perplexity,\
          \ gemini, claude)"
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      responses:
        "200":
          description: AI referral traffic data
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: This endpoint requires the Scale plan or above
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: AI referral traffic (Scale+)
      tags:
      - Metrics
      x-accepts:
      - application/json
  /search_console/summary:
    get:
      description: "Google Search Console headline totals (impressions, clicks, ctr\
        \ as a 0..1 fraction, average position) for the project over a date range.\
        \ Pass dimension=country or dimension=device to also receive the breakdown\
        \ aggregated over the range. Requires the project to have a connected Search\
        \ Console property and the Growth plan or above; otherwise returns ERR_SEARCH_CONSOLE_NOT_CONNECTED\
        \ or ERR_PLAN_REQUIRED."
      operationId: getSearchConsoleSummary
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional breakdown aggregated over the range
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          enum:
          - country
          - device
          type: string
        style: form
      responses:
        "200":
          description: Search Console summary
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: This endpoint requires the Scale plan or above
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Search Console summary (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /search_console/timeseries:
    get:
      description: "Google Search Console property-wide series (impressions, clicks,\
        \ ctr, position) bucketed by day, week or month. Requires a connected Search\
        \ Console property (Growth+)."
      operationId: getSearchConsoleTimeseries
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Search Console time series
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: This endpoint requires the Scale plan or above
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Search Console time series (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /search_console/queries:
    get:
      description: "Top Google Search Console search queries over a date range, ranked\
        \ by impressions, clicks, ctr or position, paginated. Knowingly undercounts\
        \ anonymized queries; for exact totals use /search_console/summary. Requires\
        \ a connected Search Console property (Growth+)."
      operationId: getSearchConsoleQueries
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: impressions
          enum:
          - impressions
          - clicks
          - ctr
          - position
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Top queries
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: This endpoint requires the Scale plan or above
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Top Search Console queries (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /search_console/pages:
    get:
      description: "Top Google Search Console landing pages over a date range, ranked\
        \ by impressions, clicks, ctr or position, paginated. Requires a connected\
        \ Search Console property (Growth+)."
      operationId: getSearchConsolePages
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Number of days to look back (alternative to from/to)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: impressions
          enum:
          - impressions
          - clicks
          - ctr
          - position
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Top pages
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: This endpoint requires the Scale plan or above
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Top Search Console pages (Growth+)
      tags:
      - Search Console
      x-accepts:
      - application/json
  /dimensions/projects:
    get:
      description: All projects accessible with your API key.
      operationId: listProjects
      parameters:
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProjects_200_response"
          description: Projects
      summary: List projects
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/projects/{id}:
    get:
      description: "Detailed info for one project: matching_names, industry, business\
        \ model, primary products, target audience, brand voice, locale, app store\
        \ IDs, stats (incl. prompts_by_brand_kind counts) and data_coverage (models,\
        \ countries and languages with data)."
      operationId: getProjectDetails
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDetails"
          description: Project details
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Project details
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/competitors:
    get:
      operationId: listCompetitors
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "When true, prepends the project brand with actor_type=project\
          \ and is_own=true"
        explode: true
        in: query
        name: include_project_brand
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompetitors_200_response"
          description: Competitors
      summary: List competitors
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/competitors/{id}:
    get:
      operationId: getCompetitorDetails
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompetitorDetails"
          description: Competitor details
      summary: Competitor details
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/collections:
    get:
      operationId: listCollections
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Collections
      summary: List tags/collections
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/tags:
    get:
      operationId: listTags
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Tags
      summary: List tags (alias for /collections)
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/models:
    get:
      operationId: listModels
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: Models
      summary: List models with data
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/locales:
    get:
      operationId: listLocales
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: Locales
      summary: List locales with data
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/sentiments:
    get:
      description: "Sentiment metric keys + labels + colors. For records, use /sentiments."
      operationId: listSentimentCategories
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Sentiment buckets
      summary: List sentiment categories
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/prompts:
    get:
      operationId: listPrompts
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt type (search intent)
        explode: true
        in: query
        name: prompt_type
        required: false
        schema:
          enum:
          - informational
          - navigational
          - commercial
          - transactional
          type: string
        style: form
      - description: "Filter by brand kind: brand (own brand/products), brand_other\
          \ (competitors/other brands), non_brand (generic, no brand named). For fair\
          \ 1:1 brand-vs-competitor comparisons (visibility, share of voice), use\
          \ non_brand: brand-focused prompts skew results toward the brand they name.\
          \ The in-app Overview page applies non_brand by default."
        explode: true
        in: query
        name: brand_kind
        required: false
        schema:
          enum:
          - brand
          - brand_other
          - non_brand
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated prompts
      summary: List prompts
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/prompt_executions:
    get:
      operationId: listPromptExecutions
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by which brands are mentioned, as a two-axis matrix (your\
          \ brand x competitors): mentions_you / not_mentions_you, mentions_competitor\
          \ / not_mentions_competitor, and the four combined cells you_and_competitor,\
          \ competitor_not_you (a rival wins and you are absent), you_not_competitor,\
          \ no_brands (no tracked brand appears, i.e. open space). Combine with 'competitors'\
          \ to narrow the competitor side to specific rivals; on a negative cell that\
          \ reads 'none of these'. On /dimensions/sources it applies to the crawled\
          \ content of each cited page instead of the answer text. The legacy value\
          \ 'competitors_only' is still accepted as an alias of competitor_not_you."
        explode: true
        in: query
        name: mention_filter
        required: false
        schema:
          enum:
          - mentions_you
          - not_mentions_you
          - mentions_competitor
          - not_mentions_competitor
          - you_and_competitor
          - competitor_not_you
          - you_not_competitor
          - no_brands
          type: string
        style: form
      - description: Same two-axis matrix applied to the domains cited in the answer
          instead of the brands named in it. Independent of mention_filter; pass both
          to intersect them (e.g. mentions_you + not_cites_you finds answers that
          talk about you without linking to you).
        explode: true
        in: query
        name: citation_filter
        required: false
        schema:
          enum:
          - cites_you
          - not_cites_you
          - cites_competitor
          - not_cites_competitor
          - you_and_competitor
          - competitor_not_you
          - you_not_competitor
          - cites_no_brands
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated executions
      summary: List prompt executions
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/sources:
    get:
      operationId: listSources
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by source ownership. Owned and competitor matching honor
          the project's exact-subdomain setting.
        explode: true
        in: query
        name: source_type
        required: false
        schema:
          enum:
          - owned
          - competitor
          - third_party
          type: string
        style: form
      - description: "Filter by which brands are mentioned, as a two-axis matrix (your\
          \ brand x competitors): mentions_you / not_mentions_you, mentions_competitor\
          \ / not_mentions_competitor, and the four combined cells you_and_competitor,\
          \ competitor_not_you (a rival wins and you are absent), you_not_competitor,\
          \ no_brands (no tracked brand appears, i.e. open space). Combine with 'competitors'\
          \ to narrow the competitor side to specific rivals; on a negative cell that\
          \ reads 'none of these'. On /dimensions/sources it applies to the crawled\
          \ content of each cited page instead of the answer text. The legacy value\
          \ 'competitors_only' is still accepted as an alias of competitor_not_you."
        explode: true
        in: query
        name: mention_filter
        required: false
        schema:
          enum:
          - mentions_you
          - not_mentions_you
          - mentions_competitor
          - not_mentions_competitor
          - you_and_competitor
          - competitor_not_you
          - you_not_competitor
          - no_brands
          type: string
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated sources
      summary: List source URLs
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/mentions:
    get:
      operationId: listMentions
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated brand mentions
      summary: List brand mentions
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/citations:
    get:
      description: "Includes visible citations and background source references. Background\
        \ references use position 0, meaning no visible rank."
      operationId: listCitations
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated brand citations
      summary: List brand citations
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/competitor_mentions:
    get:
      operationId: listCompetitorMentions
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated competitor mentions
      summary: List competitor mentions
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/competitor_citations:
    get:
      description: "Includes visible citations and background source references. Background\
        \ references use position 0, meaning no visible rank."
      operationId: listCompetitorCitations
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated competitor citations
      summary: List competitor citations
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/all_mentions:
    get:
      description: Unified mentions stream. Each record has an `actor_type` field
        (`project` or `competitor`) so the same payload covers both.
      operationId: listAllMentions
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated mentions with actor_type discriminator
      summary: List all mentions (brand + competitor)
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/all_citations:
    get:
      description: "Unified citations stream with an `actor_type` field on each record.\
        \ Includes visible citations and background source references; background\
        \ references use position 0, meaning no visible rank."
      operationId: listAllCitations
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM)
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          description: Paginated citations with actor_type discriminator
      summary: List all citations (brand + competitor)
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /dimensions/agent_bots:
    get:
      description: "Static catalog of AI bots that Agent Analytics can identify. Useful\
        \ for rendering filter UIs that mirror our internal classification (slug,\
        \ display name, company, category, Cloudflare verified-bot mapping, description).\
        \ Requires the Scale plan; lower tiers receive ERR_PLAN_REQUIRED. The equivalent\
        \ MCP tool list_agent_bots is available on all plans."
      operationId: listAgentBots
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Rectangular output for BI tools (Tableau, Excel, Sheets, ELT).\
          \ Omit for the default nested JSON. 'flat' returns the same metadata plus\
          \ 'columns' and 'rows'; 'csv' returns those rows as text/csv. Errors are\
          \ always returned as JSON."
        explode: true
        in: query
        name: output
        required: false
        schema:
          enum:
          - flat
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentBotsResponse"
          description: Bot catalog
        "403":
          content:
            application/json:
              example:
                error:
                  code: ERR_PLAN_REQUIRED
                  message: This endpoint requires the Scale plan or above
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Endpoint requires a higher plan tier
      summary: AI bot catalog (Scale+)
      tags:
      - Dimensions
      x-accepts:
      - application/json
  /citation_intelligence/groups:
    get:
      description: "Grouped citation intelligence by url / domain / host with per-model\
        \ breakdown, citation rate, and avg citation position. Counts and citation\
        \ rate include visible citations and background source references. Average\
        \ position ignores rows with position=0. Owned and competitor source matching\
        \ honor the project's exact-subdomain setting. Filter vocabulary aligns with\
        \ `source_type` returned by the API."
      operationId: listCitationGroups
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: view
        required: false
        schema:
          default: url
          enum:
          - url
          - domain
          - host
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - group_key
          - total_responses
          - total_citations
          - citation_rate
          - avg_citation_position
          - first_seen_at
          - last_seen_at
          type: string
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: source_type
        required: false
        schema:
          enum:
          - owned
          - competitor
          - third_party
          - social_media
          - own_domain
          - ugc
          - background
          type: string
        style: form
      - explode: true
        in: query
        name: sentiment
        required: false
        schema:
          enum:
          - negative
          type: string
        style: form
      - explode: true
        in: query
        name: content_gap
        required: false
        schema:
          enum:
          - mentioned
          - gap
          type: string
        style: form
      responses:
        "200":
          description: Grouped citation intelligence
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: "Unknown metric: invalid_metric"
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Grouped citation intelligence
      tags:
      - Citation Intelligence
      x-accepts:
      - application/json
  /citation_intelligence/mentions_by_domain:
    get:
      description: "For the responses where each given source domain is cited, returns\
        \ the share of those responses that mention the brand vs each competitor (brand\
        \ + competitors sum to 100% per domain). Pass multiple domains to get the\
        \ whole matrix in one call."
      operationId: getMentionsByCitingDomain
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: "Source domains to analyze, e.g. domains[]=gmac.com&domains[]=educaweb.com"
        explode: true
        in: query
        name: domains
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by AI model. Models the API key's user has not enabled
          are silently dropped.
        explode: true
        in: query
        name: model
        required: false
        schema:
          enum:
          - chatgpt
          - perplexity
          - gemini
          - ai_overview
          - ai_mode
          - copilot
          - claude
          - grok
          - deepseek
          - meta_ai
          - amazon_rufus
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: integer
        style: form
      - description: "ISO country code (e.g. US, GB, DE)"
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
      - description: "ISO language code (e.g. en, es, de)"
        explode: true
        in: query
        name: language_code
        required: false
        schema:
          type: string
        style: form
      - description: Filter by prompt ID
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Mention share per citing domain
        "422":
          content:
            application/json:
              example:
                error:
                  code: ERR_INVALID_PARAM
                  message: "Unknown metric: invalid_metric"
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid parameters
      summary: Mention share by citing domain
      tags:
      - Citation Intelligence
      x-accepts:
      - application/json
  /citation_intelligence/urls/{url_sha256}:
    get:
      operationId: getCitedUrlDetail
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: 64-character hex SHA-256 of the cited URL
        explode: false
        in: path
        name: url_sha256
        required: true
        schema:
          pattern: "^[a-f0-9]{64}$"
          type: string
        style: simple
      responses:
        "200":
          description: URL-level intelligence
        "404":
          content:
            application/json:
              example:
                error:
                  code: ERR_PROJECT_NOT_FOUND
                  message: Project not found or not accessible
                request_id: abc-123
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      summary: Cited URL detail
      tags:
      - Citation Intelligence
      x-accepts:
      - application/json
  /citation_intelligence/urls/{url_sha256}/occurrences:
    get:
      operationId: listCitedUrlOccurrences
      parameters:
      - description: Project ID
        explode: true
        in: query
        name: project_id
        required: true
        schema:
          type: integer
        style: form
      - description: 64-character hex SHA-256 of the cited URL
        explode: false
        in: path
        name: url_sha256
        required: true
        schema:
          pattern: "^[a-f0-9]{64}$"
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          description: Paginated occurrences
[...]
